<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <ion-title>Licencias</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="licenses" color="primary">
      <ion-segment-button value="available">
        Libres
      </ion-segment-button>
      <ion-segment-button value="unavailable">
        Ocupadas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab bottom right>
    <button ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <div [ngSwitch]="licenses">
    <ion-list *ngSwitchCase="'available'">
      <button ion-item *ngFor="let item of available">
        {{ item.license }}
        <ion-badge item-end>
          {{ item.product }}
        </ion-badge>
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'unavailable'">
      <button ion-item *ngFor="let item of unavailable">
        {{ item.license }}
        <ion-badge item-end>
          {{ item.product }}
        </ion-badge>
      </button>
    </ion-list>
  </div>
</ion-content>
